@import "_mixins.sass"

.Sidebar
  ul
    padding-left: 20px
    padding-right: 60px
  li
    font-size: 1.8rem
    line-height: 150%

.ProjectList

.ProjectListItem
  @include dnd-hoverable
  @include clickable

  .project_title
    margin-right: 0.2rem

  .n_tasks
    font-size: 1.2rem
    color: $light-grey
